<footer>
    <div class="jumbotron jumbotron-primary text-center jumbotron-footer">
        <p style="font-size:85%;">&copy; 2016 &middot; Colby Rodeheaver</p>
        <p style="font-size:85%;">Checkout my github : <a style="color:white" href="http://github.com/crodeheaver" target="_Blank">crodeheaver</a></p>
    </div>
</footer>