<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <div class="list-group">
      {{#each userList as |user|}}
          {{user}}
      {{/each}}
    </div>
  </div>
</div>

