{{! app/templates/components/login-page.hbs }}

<h2>Sign Up</h2>

<form {{action 'register' on='submit'}}>
  {{input value=login placeholder='Login'}}<br>
  {{input value=password placeholder='Password' type='password'}}<br>
  <button type="submit">Login</button>
</form>
