<header >
    <div class="jumbotron jumbotron-primary">
        <div class="row">
            <div class="col-md-3"></div>
            <h1 class="text-primary col-md-9">Chat Application</h1>
        </div>
    </div>
</header>